  <%= stylesheet_link_tag 'pasas', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/header' %>
  <div class="col-md-12 m-5">
    <div class="col-md-3">
      <h2 class="mt-3">PA/SA一覧</h2>
    </div>
    <!--テーブルで作成する-->
    <% @pasas.each do |pasa| %>
      <div class="pasaindex">
        <div class="pasaname">
          <ul>
            <li>
              <span><%= link_to pasa.facility, pasa_path(pasa.id) %></span>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @pasas %>