<div class="comments">
  <% @post.comments.each do |comment| %>
    <div class="comment-detail">
      <%= safe_join(comment.comment.split("\n"),tag(:br)) %><br>
      <投稿者><%= comment.user.nickname %>
      <%= comment.created_at.strftime('%Y/%m/%d') %>
      <% if comment.user == current_user %>
      <div class="comment-delete">
        <%= link_to  post_comment_path(comment.post_id, comment.id), method: :delete,remote: true do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>