<%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render 'layouts/header' %>
<div class="main-visual">
  <div class="main-visual-content">
    <div class="main-visual-text">
      <p>あなたのぴったりな<br>
      パーキングエリア・サービスエリアを探す
      </p>
      <h2>pasa navi</h2>

    </div>
  </div>
</div>



<%= render 'layouts/footer' %>