<%= stylesheet_link_tag 'homes', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render 'layouts/header' %>
<div class="main-visual">
  <div class="main-visual-content">
    <div class="main-visual-text">
      <p>あなたのぴったりな<br>
      パーキングエリア・サービスエリアを探す
      </p>
      <h1>pasa navi</h1>
    </div>
  </div>
</div>
<div class="pasanavi_about-text">
  <h1>pasa naviとは？</h1>
  <p>パーキングエリア・サービスエリアの<br>
  評価やおすすめを共有するSNSです
  </p>
</div>
<div class="pasanavi_about-visual"></div>
  <div class="pasanavi_about-detail">
    <div class="genres">
      <div class="food">食べ物</div>
      <div class="toilet">トイレ</div>
      <div class="smoking">喫煙所</div>
    </div>
  </div>



<%= render 'layouts/footer' %>