  <%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.raty', 'data-turbolinks-track': 'reload' %>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.raty.js"></script>
  <%= render 'layouts/header' %>
  
  <h3 class="post-title">
    <%= @post.title %>
  </h3>
  
  <div class="blog"