// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-text{
  color: black;
}

.food:hover  {
  transform: scale(1.1, 1.1);
  color: black;
  text-decoration: none;
}

.toilet:hover  {
  transform: scale(1.1, 1.1);
  color: black;
  text-decoration: none;
} 

.smoking:hover  {
  transform: scale(1.1, 1.1);
  color: black;
  text-decoration: none;
}

