// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .main-visual{
//   width: 700px;
//   height: 500px;
//   background-image: image-url("sa1.jpg");
//   background-size: contain;
//   background-position: top center;
//   margin: auto;
//   text-align: center;
// }

.main-visual-content{
  width: 100%;
  height: 500px;
  background-color: rgba( 255, 255, 255, 0.5);
  margin: auto;
}


.main-visual{
  display: flex;
}

#box{
  height: 400px;
  width: 800px;
}
.image1 {
  background-image: image-url("kurushimakaikyouSA.jpg");
}
.image2 {
  background-image: image-url("miyajimaSA.jpg");
}
.image3 {
  background-image: image-url("sa1.jpg");
}
.image4 {
  background-image: image-url("umihotaru.jpg");
}

.pasanavi_about{
  height: 400px;
  display: flex;
}

.pasanavi_about-text{
  margin: 0 auto;
  align-items : center;
  justify-content: center;
  // line-height: 400px;
}

.pasanavi_about-visual{
  height: 400px;
  width: 600px;
  background-image: image-url("pasanavi-toha.jpg");
  background-size: cover;
}

.genres{
  display: flex;
  justify-content: center;
}


.genre-text{
  margin: 5px;
  font-size: 80px;
  text-align: center;
}

.food-image{
  width: 600px;
  height: 400px;
  background-image: image-url("food.jpg");
  background-size: cover;
  margin: 0 5px 5px 0;
}

.toilet-image{
  width: 600px;
  height: 400px;
  background-image: image-url("toilet.jpg");
  background-size: cover;
  margin: 0 5px 5px 0;
}

.smoking-image{
  width: 600px;
  height: 400px;
  background-image: image-url("smoking.jpg");
  background-size: cover;
  margin: 0 20px 20px 0;
}

