// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .main-visual{
//   width: 700px;
//   height: 500px;
//   background-image: image-url("sa1.jpg");
//   background-size: contain;
//   background-position: top center;
//   margin: auto;
//   text-align: center;
// }

.main-visual-content{
  width: 100%;
  height: 500px;
  background-color: rgba( 255, 255, 255, 0.5);
  margin: auto;
}

.main-visual-text{
  text-align: center;
}

.main-visual-text1{
  font-size: 40px;
}

.main-visual-text2{
  font-size: 80px;
}

.main-visual{
  // display: flex;
}

#box{
  height: 600px;
  width: 100%;
}
.image1 {
  background-image: image-url("kurushimakaikyouSA.jpg");
}
.image2 {
  background-image: image-url("miyajimaSA.jpg");
}
.image3 {
  background-image: image-url("sa1.jpg");
}
.image4 {
  background-image: image-url("umihotaru.jpg");
}

.pasanavi_about{
  height: 400px;
  display: flex;
  margin: 50px 0 0;
}

.pasanavi_about-text{
  margin: 0 auto;
  align-items : center;
  justify-content: center;
  // line-height: 400px;
}

.pasanavi-toha1{
  font-size: 80px;
}

.pasanavi-toha2{
  font-size: 40px;
}

.pasanavi_about-visual{
  height: 400px;
  width: 600px;
  background-image: image-url("pasanavi_toha.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: left;
}

.pasanavi_about-detail{
  width: 100%;
  // height: 600px;
  padding: 50px 0 50px;
  // background-color: #f0fff0;
}

.genre-title{
  font-size: 60px;
}

.genres{
  display: flex;
  justify-content: center;
}

.genre-text{
  margin: 5px;
  font-size: 80px;
  text-align: center;
}

.food-image{
  width: 400px;
  height: 300px;
  background-image: image-url("food.jpg");
  background-size: cover;
  margin: 30px;
}

.toilet-image{
  width: 400px;
  height: 300px;
  background-image: image-url("toilet.jpg");
  background-size: cover;
  margin: 30px;
}


.smoking-image{
  width: 400px;
  height: 300px;
  background-image: image-url("smoking.jpg");
  background-size: cover;
  margin: 30px;
}



@media screen and (max-width: 1100px) {
  .main-visual-text1{
    font-size: 30px;
  }
  
  #box{
    height: 300px;
    width: 100%;
  }
  
  .pasanavi_about{
    height: 600px;
    display: flex;
    margin: 50px 0 0;
  }
  
  .pasanavi-toha1{
    font-size: 50px;
    margin: 30px;
  }
  
  .pasanavi-toha2{
    font-size: 30px;
    margin: 30px;
  }
  
  .pasanavi_about-visual{
    height: 400px;
    width: 40%;
    background-image: image-url("pasanavi_toha.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
  }
  
  .genres{
    display: block;
  }
  
  .genre-title{
    text-align: center;
  }
  
  .food-image{
    margin: auto;
  }
  
  .toilet-image{
    margin: auto;
  }
  
  .smoking-image{
    margin: auto;
  }
}