// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.new-post{
  text-align: center;
}

h2{
  // adding: 1rem 2rem;
  // border-left: 6px double #000;
  // margin-left: 10px;
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #fff100;
  text-align: center;
}

h2:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}